
  <div class="row">
    <div class="col-md-10">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">{{this.title}}</h2>
          <p class="card-text">{{this.content}}</p>
          <a href="/article/{{this.articleId}}" class="btn btn-lg btn-dark btn-sm">Comment &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted on {{this.formatted_date}} by {{this.author.fullName}}
        </div>
      </div>
    </div>
  </div>

<!--
  <div class="postcontainer mb-4">
      <div class="row">
        <div class="col-md-10">
          <div class="bg-light text-dark">
            <div class="postheader pl-4 pt-2">
              <a href="/article/{{this.articleId}}" class="text-dark"><h2>{{this.title}}</h2></a>
            </div>
            <div class="postcontent pl-2 pt-2">
              <p class="lead">{{this.content}}</p>
            </div>
            <div class="p-2 bg-dark text-white text-center postfooter">
              <span> Posted on <strong>{{this.formatted_date}}</strong> by <strong> {{this.author.fullName}}</strong></span>
            </div>
          </div>
        </div>
      </div>
</div>
-->
