
  <div class="row">
    <div class="col-md-10">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">{{this.title}}</h2>
          <p class="card-text">{{this.content}}</p>
          <a href="/article/{{this.articleId}}" class="btn btn-lg btn-dark btn-sm">Comment &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted on {{this.formattedDate}} by {{this.author.fullName}}
        </div>
      </div>
    </div>
  </div>
