<section class="intro">
</section>
<div class="container">
{{#if isArticles}}

  {{#each articles}}
    {{> article}}
  {{/each}}


<!-- pagination -->
<div class="row">
  <div class="col">
    <nav aria-label="...">
      <ul class="pagination justify-content-left">
        {{#compare prevPage "===" 0}}
        {{else}}
        <li class="page-item">
          <a class="page-link text-secondary" href="/blog/{{prevPage}}">Previous</a>
        </li>
        {{/compare}}
        {{#compare prevPage "===" 0}}
        {{else}}
        <li class="page-item"><a class="page-link text-secondary" href="/blog/{{prevPage}}">{{prevPage}}</a></li>
        {{/compare}}
        <li class="page-item">
          <span class="page-link bg-dark text-white">
            {{curPage}}
            <span class="sr-only">(current)</span>
          </span>
        </li>
        {{#compare nextPage ">" maxPages}}
        {{else}}
        <li class="page-item"><a class="page-link text-secondary" href="/blog/{{nextPage}}">{{nextPage}}</a></li>
        <li class="page-item">
          <a class="page-link text-secondary" href="/blog/{{nextPage}}">Next</a>
        </li>
        {{/compare}}
      </ul>
    </nav>
  </div>
</div>
</div>

{{else}}
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2>There are no articles available.</h2>
      </div>
    </div>
  </div>
</section>
{{/if}}
