{{#if articleExists}}

<div class="row">
  <div class="col-lg-8">

    <!-- Title -->
    <h1 class="mt-4">{{title}}</h1>

    <!-- Author -->
    <p class="lead">
      by
      <!--<a href="#">{{author}}</a>-->
      {{author}}
    </p>

    <hr>

    <!-- Date/Time -->
    <p>{{dateCreated}}</p>

    <hr>

    <!-- Post Content -->
    <p class="lead">{{blogPost}}</p>

    <hr>
    <!-- Comments Form -->
    <div class="card my-4">
      <h6 class="card-header">Leave a Comment:</h6>
      <div class="card-body">
        {{#if userIsLogged}}
        <form action="/article/{{articleId}}" method="post">
          <div class="form-group">
            <textarea class="form-control" rows="2" name="commentData"></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
        {{else}}
        Please log in to comment.
        {{/if}}
      </div>
    </div>
    <!-- Single Comment -->
    {{#each comments}}

        <div class="card bg-light mb-3 ml-4">
          <h5 class="card-header">{{this.name}}</h5>
          <div class="card-body">
            <p class="card-text">{{this.text}}</p>

          </div>
        </div>

    {{/each}}
  </div>
</div>

{{else}}
<h1 class="my-4">no article</h1>
{{/if}}
